/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.niceadmin .faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}
.niceadmin .faq .basic p {
  color: #6980aa;
}